// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // ---- left hand ----
        combo_grave {
            bindings = <&kp GRAVE>;
            key-positions = <1 2>;    // W E
        };

        combo_tilde {
            bindings = <&kp TILDE>;
            key-positions = <11 12>;  // S D
        };

        combo_bslh {
            bindings = <&kp BSLH>;
            key-positions = <21 22>;  // X C
        };

        combo_home {
            bindings = <&kp HOME>;
            key-positions = <2 3>;    // E R
        };

        combo_end {
            bindings = <&kp END>;
            key-positions = <12 13>;  // D F
        };

        combo_esc {
            bindings = <&kp ESC>;
            key-positions = <3 4>;    // R T
        };

        combo_del {
            bindings = <&kp DEL>;
            key-positions = <13 14>;  // F G
        };

        combo_pscrn {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <23 24>;  // V B
        };

        // ---- right hand ----
        combo_pgup {
            bindings = <&kp PG_UP>;
            key-positions = <5 6>;    // Y U
        };

        combo_pgdn {
            bindings = <&kp PG_DN>;
            key-positions = <15 16>;  // H J
        };

        combo_lpar {
            bindings = <&kp LPAR>;
            key-positions = <6 7>;    // U I
        };

        combo_rpar {
            bindings = <&kp RPAR>;
            key-positions = <7 8>;    // I O
        };

        combo_lbkt {
            bindings = <&kp LBKT>;
            key-positions = <16 17>;  // J K
        };

        combo_rbkt {
            bindings = <&kp RBKT>;
            key-positions = <17 18>;  // K L
        };

        combo_lbrc {
            bindings = <&kp LBRC>;
            key-positions = <26 27>;  // M ,
        };

        combo_rbrc {
            bindings = <&kp RBRC>;
            key-positions = <27 28>;  // , .
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q               &kp W       &kp E        &kp R            &kp T        &kp Y      &kp U        &kp I        &kp O       &kp P
&ht LEFT_CONTROL A  &ht LALT S  &ht LCTRL D  &ht LSHIFT F     &lt 1 G      &lt 1 H    &ht RSHFT J  &ht RCTRL K  &ht RALT L  &ht RGUI SQT
&kp Z               &kp X       &kp C        &kp V            &kp B        &kp N      &kp M        &kp COMMA    &kp DOT     &kp FSLH
                                             &lt 2 BACKSPACE  &lt 5 TAB    &kp ENTER  &lt 1 SPACE
            >;
        };

        right_layer {
            bindings = <
&kp N1    &kp N2  &kp N3    &kp N4    &kp N5       &kp N6     &kp N7     &kp N8     &kp N9    &kp N0
&kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR
&trans    &trans  &trans    &trans    &trans       &kp PLUS   &kp MINUS  &kp ASTRK  &kp FSLH  &trans
                            &trans    &kp ESC      &trans     &trans
            >;
        };

        left_layer {
            bindings = <
&trans    &kp LBKT  &kp LBRC  &kp RBRC  &trans       &kp CARET  &kp LPAR   &kp RPAR   &kp RBKT  &kp TILDE
&kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT    &kp ASTRK  &kp MINUS  &kp EQUAL  &kp BSLH  &kp GRAVE
&trans    &trans    &trans    &trans    &trans       &kp AMPS   &kp UNDER  &kp PLUS   &kp PIPE  &trans
                              &trans    &trans       &trans     &trans
            >;
        };

        tri_layer {
            bindings = <
&sys_reset   &trans  &trans  &trans      &bt BT_SEL 0    &trans  &trans  &trans  &trans  &sys_reset
&bootloader  &trans  &trans  &trans      &bt BT_SEL 1    &trans  &trans  &trans  &trans  &bootloader
&trans       &trans  &trans  &bt BT_CLR  &bt BT_SEL 2    &trans  &trans  &trans  &trans  &trans
                             &trans      &trans          &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&kp LA(NUMBER_1)      &kp LA(NUMBER_2)      &kp LA(NUMBER_3)      &kp LA(NUMBER_4)      &kp LA(NUMBER_5)        &kp LA(H)     &kp LA(J)     &kp LA(K)   &kp LA(L)      &kp LA(LBKT)
&kp LS(LA(NUMBER_1))  &kp LS(LA(NUMBER_2))  &kp LS(LA(NUMBER_3))  &kp LS(LA(NUMBER_4))  &kp LS(LA(NUMBER_5))    &kp LA(LEFT)  &kp LA(DOWN)  &kp LA(UP)  &kp LA(RIGHT)  &kp LA(RBKT)
&kp LA(Z)             &kp LA(X)             &kp LA(C)             &kp LA(V)             &kp LA(SQT)             &trans        &trans        &trans      &trans         &kp LA(SEMICOLON)
                                                                  &trans                &trans                  &trans        &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };
};
